
<h1>Burger Burger Burger</h1>

<h2>Uneaten Burgers sad :( </h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <li>
      {{burger_name}}
      <form action="/{{id}}?_method=PUT" method="POST">
        <input type="hidden" name="devoured" value="true">
        <button type="submit">Eat etttt!</button>
    </form>
    {{/unless}}
  {{/each}}
</ul>

<h2> Devoured Burgers (YUMMM!)</h2>

  <ul> 
    {{#each burgers}}
      {{#if devoured}}
      <li>
      {{burger_name}}
        <form action="/{{id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit">Eat it again NOM!</button>
        </form>
      </li>
      {{/if}}
    {{/each}}
  </ul>

<h2>Add a Burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label>Name That Burger:</label>
    <input type="text" id="add-burger" name="burger">
  </div>

  <div class="form-group">
    <label for="dev">Devour?</label><br>
    <input type="radio" id="eat" name="devour" value="1" > Heck Yeah!<br>
    <input type="radio" id="not-eaten" name="devoured" value="0"> Not right now, thx.
  </div>

  <button type="submit" id="text-enter-button">Add Burger</button>
</form>