Setup the index.handlebars to have the template that Handlebars can render onto.

Create a button in index.handlebars that will submit the user input into the database.
<h1>Uneaten Burgers ( sad :( )) </h1>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    <li>
      {{burger_name}}
      <form action="/{{id}}?_method=PUT" method="POST">
        <input type="hidden" name="devoured" value="true">
        <button type="submit">Eat etttt!</button>
    </form>
    {{/unless}}
  {{/each}}
</ul>

<h2> Devoured Burgers (YUMMM!)</h2>

  <ul> 
    {{#each burgers}}
      {{#if devoured}}
      <li>
      {{burger_name}}
        <form action="/{{id}}?_mothod=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit">NOM</button>
        </form>
      </li>
      {{/if}}
    {{/each}}
  </ul>

<h2>Add a Burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="bur">Name That Burger:</label>
    <input type="text" id="bur" name="name">
  </div>

  <div class="form-group">
    <label for="dev">Devour?</label><br>
    <input type="radio" name="devour" value="1" checked> Heck Yeah!<br>
    <input type="radio" name="devoured" value="0"> No, thx.
  </div>

  <button type="submit">Add Burger</button>
</form>